{% extends 'base.html.twig' %} {% block title %}Admin gestion{% endblock %}
 
 {% block main %}

<div class="container-fluid">
    <div class="row d-flex m-3">

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">PRODUCT</h5>

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="{{path('create_product')}}" class="main">
                        <button class="btn btn-secondary">Create products</button>
                    </a>
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">USER</h5>

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="#" class="adminButton">
                        <button class="btn btn-primary">History</button>
                    </a>
                    <a href="#" class="adminButton">
                            <button class="btn btn-primary">Edit compte</button>
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">CATEGORIES</h5>

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="{{path('add_category')}}" class="adminButton">
                        <button class="btn btn-success btn-lg">Create Category</button>
                    </a>
                    <a href="{{path('select_edit_category')}}">
                        <button class="btn btn-warning btn-lg">Edit Categories</button>
                    </a>
                    <a href="{{path('select_remove_category')}}">
                        <button class="btn btn-danger btn-lg">Supp Categories</button>
                    </a>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>
</div>



{% endblock main %}
