{% extends 'base.html.twig' %}


{% block main %}

<div class="container">  
<div class="row text-center">
 {% for product in products %}

 <div class="col-lg-4 col-md-6 mb-4">
  <div class="card">
    <img class="card-img-top" src="{{imageURI}}/{{product.image}}" alt="">
    <div class="card-body">
      <h4 class="card-title">{{product.name}}</h4>
      <p class="card-text">{{product.price}},00€</p>
    </div>
    <div class="card-footer">
      <a href="{{ path('show_product', {'id': product.id}) }}" class="btn btn-secondary">See More</a>
    </div>
  </div>
</div>

  {% endfor %}

</div>
</div>


{% endblock main %}


