
{% extends 'base.html.twig' %}

{% block main %}


 <div class="container-fluid">
  <div class="col-md-8 mx-auto">
      <div class="card mb-3" id="product-page">
          <h3 class="card-header text-center">{{product.name}}</h3>
         
          <img style="height: 710 px; width: 100%; display: block;" src="{{imageURI}}/{{product.image}}" alt="image product">
          
          <ul class="list-group list-group-flush">
          <li class="list-group-item text-justify">A propos : {{product.description}}</li>
          <li class="list-group-item">Price:{{product.price}}.00€</li>

          </ul>
          <div class="card-body">
            <form method="post">
              <input type="number" name="number">
              <button class="btn btn-secondary">Add</button>
            </form>
          </div>


            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <div class="card-footer text-center">
          
            <a href="{{ path('edit_product', {'id': product.id}) }}" class="btn btn-warning">Edit product</a>
            
            <a href="{{ path('remove_product', {'id': product.id}) }}" class="btn btn-danger">Remove product</a>
           
          </div>
           {% endif %}
      </div>
  </div>
</div>




{% endblock main %}