{% extends 'base.html.twig' %}

{% block main %}

<h2 class="shopping-cart">Shopping-cart</h2>



<div class="container-fluid">
      
        <table class="table " >
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Options</th>

            </tr>
          </thead>
           {% for row in productLine %}
          <tbody>
        
            <tr class="table ">
                    <td>{{row.product.name}}</td>
                    <td>{{row.quantity}}</td>
                    <td>{{row.price}}.00$</td>
                    <td><a class="btn" style="color:black;" href="{{ path("remove_productLine", {"id": row.id}) }}"><i class="fas fa-trash-alt"></i></a></td>

            </tr>
         
          </tbody> 
            {% endfor %}
        </table>
    </div>
      
<p class="priceTotal">Total Shopping: {{totalPrice}}.00$</p>



{% endblock %}

