<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sainplon&co{% endblock %}</title>
        {% block stylesheets %} {% endblock %}
<link rel="stylesheet" href="{{asset('build/css/main.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">   
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    </head>
    <body  class="body">
        {% block nav %}
        
<div class="container">

    <div class="row d-flex">
<div class="col-3" id="bg-info">
        


</div>

<div class="col-6 d-block text-center" id="bg-info">
    <p  style="font-size: 39px;"><a class="title" href="{{path('home')}}"> SAINPLON</p></a>
    {{ render(controller('App\\Controller\\BaseController::index')) }} 

</div>

<div class="col-3" id="bg-info">
<div class="icons">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
    <a href="{{path('connection')}}" class="icon-base"><i class="fas fa-user-circle" style="margin: 13px;"></i></a>
    {% endif %}

    <a href="{{path('shopping_cart')}}" class="icon-base"><i class="fas fa-shopping-bag" style="margin: 13px;"></i></a>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <a href="{{path('logout')}}" class="icon-base"><i class="fas fa-power-off" style="margin: 13px;"></i></a>
    <a href="{{path('admin')}}" class="icon-base">
                            <i class="fas fa-book-reader"  style="margin: 13px;"></i>
                    </a>
    {% endif %}
    
                    
                    



</div>

    </div>

</div>

        {% endblock nav %}
        {% block main %}
 
        {% endblock main %}

         {% block footer %}


        <footer class="container">
                <div class="row">
                     <div class="container">
                        
                    <ul class="nav-footer">
                       <li>
                      <p>© 2018</p>
                    </li>
                         <li class="nav-item ">
                            <a class="nav-link " href="https://www.facebook.com/"><i class="fab fa-facebook fa-2x"></i></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="https://twitter.com/"><i class="fab fa-twitter fa-2x"></i></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x"></i></a>
                          </li>
                          </ul>
                        </ul>
                    </div>
                 </div>
      </footer>
    
      {% endblock footer %} 
    
        
        {% block javascripts %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
